.sidebarListStyle {
  ul li {
    &:active {
      background-color: #ffffff;
      color: #212529;
    }

    // Active state styles
    &.bg-active {
      background-color: #ffffff;
    }

    &.text-active {
      color: #212529;
    }
  }
}
